@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');
body * {
    font-family: 'Fredoka', sans-serif;
}

body {
    margin: 0;
    background-color: #ccc;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /*   perspective: 500px; */
}

#app {
    display: inline-block;
    box-shadow: 0 0 40px grey;
    /*   transform: rotateX(10deg); */
}

.player {
    text-align: center;
    padding: 20px 0 0 0;
}

.row {
    width: calc(8 * 50px);
    margin: 0 auto;
    line-height: 0;
}

.row div {
    display: inline-block;
    height: 50px;
    width: 50px;
}

.row div .game-piece {
    position: absolute;
    border: none;
    height: 50px;
    width: 50px;
    font-style: normal;
    font-size: 2.2em;
    line-height: normal;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: text-shadow 0.3s;
}

.row div .active {
    /* border: dotted 1px #424242; */
    text-shadow: 10px -10px 10px grey;
}

.white {
    background: #fff;
}

.grey {
    background: #000;
}

.parent {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

div[data-player="w"] {
    color: #3cff00;
    text-shadow: 1px 1px 1px black;
}

div[data-player="b"] {
    color: #f00;
    text-shadow: 1px 1px 1px black;
}

.player-white {
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #3cff00;
    box-shadow: 0 0 15px rgb(0 0 0 / 26%);
    width: auto;
    display: inline-block;
}

.player-black {
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #f00;
    color: #fff;
    box-shadow: 0 0 15px rgb(0 0 0 / 26%);
    width: auto;
    display: inline-block;
}